<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  
  <title>Image Optimizer</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
 
</head>
<body class="bg-light">
  <div class="container mt-5">
    <div class="card shadow-sm">

      <!-- card header -->
      <div class="card-header text-center">
        <h2 class="mb-0">Image Optimizer</h2>
        <small class="text-muted">Resize or Reduce Image Quality</small>
      </div>
       <!-- card body -->
      <div class="card-body">
        <form method="POST" enctype="multipart/form-data">
          <div>
            <label for="image" class="form-label">Choose Image</label>
            <input type="file"
            class="form-control"
            name="image"
            id="image"
            required 
            >
          </div>
          <div class="row">
            <div class="col-md-6 mb-3">
              <label for="width" class="form-label">Width (px)</label>
              <input type="number"
              class="form-control"
              name="width"
              id="width"
              placeholder="Optional">
            </div>
          

            <div class="col-md-6 mb-3">
              <label for="height" class="form-label">Height (px)</label>
              <input type="number"
              class="form-control"
              name="height"
              id="height"
              placeholder="Optional">
            </div>
          </div>
            <div class="col-md-6 mb-3">
              <label for="quality" class="form-label">Quality (1-100)</label>
              <input type="number"
              class="form-control"
              name="quality"
              id="quality"
              value="85">
            </div>

            <div class="text-center">
              <button type="submit" class="btn btn-primary">Optimize Image</button>
            </div>

            
          </div>
        </form>
      </div>
    </div>

  </div>
  
</body>
</html>